In [2]:
import pandas as pd
import numpy as np

In [3]:
s1 = np.arange(9).reshape(3,3)

In [4]:
s1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [6]:
s2 = np.arange(9,18).reshape(3,3)

In [7]:
s2

array([[ 9, 10, 11],
       [12, 13, 14],
       [15, 16, 17]])

In [11]:
df1 = pd.DataFrame(s1, columns=['a','b','c'])
df2 = pd.DataFrame(s2, columns=['x','y','z'])

In [17]:
pd3 = pd.merge(df1, df2, right_on ='y' , left_on ='a')

In [18]:
pd3

Empty DataFrame
Columns: [a, b, c, x, y, z]
Index: []

In [19]:
print(pd3)

Empty DataFrame
Columns: [a, b, c, x, y, z]
Index: []

In [20]:
df1 = pd.DataFrame([[0, 11, 2],[311, 14, 5],[6, 17, 83]], columns=['a','b','c'])
df2 = pd.DataFrame([[4, 164, 23],[33, 46, 5],[666, 73, 38]], columns=['x','y','z'])

In [21]:
df3 = pd.merge(df1, df2, right_on = 'y', left_on = 'b')

In [22]:
df3

Empty DataFrame
Columns: [a, b, c, x, y, z]
Index: []