In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('nseData.csv')

In [3]:
df

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,1018GS2026,GS,14-Nov-2022,111.50,105.98,105.98,105.98,105.98,105.98,105.98,1,0.00,1,1,100.00
1,20MICRONS,EQ,14-Nov-2022,95.40,95.90,95.90,92.40,93.00,92.70,93.24,166512,155.25,3296,116930,70.22
2,21STCENMGM,EQ,14-Nov-2022,23.20,22.75,23.30,22.75,22.75,22.75,22.88,3820,0.87,60,2443,63.95
3,3IINFOLTD,EQ,14-Nov-2022,43.60,43.60,43.65,42.50,42.85,42.75,42.97,435962,187.35,2764,248576,57.02
4,3MINDIA,EQ,14-Nov-2022,23680.85,23799.00,24648.00,23630.20,24462.20,24483.70,24292.98,7862,1909.91,4095,3130,39.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2323,ZOTA,EQ,14-Nov-2022,267.40,263.20,273.00,260.00,265.00,265.20,264.44,22564,59.67,1340,8226,36.46
2324,ZUARI,EQ,14-Nov-2022,159.15,158.05,160.50,156.40,156.45,157.05,157.98,46156,72.92,1474,22347,48.42
2325,ZUARIIND,EQ,14-Nov-2022,148.95,151.45,151.45,145.00,145.30,145.45,147.20,33107,48.73,883,20947,63.27
2326,ZYDUSLIFE,EQ,14-Nov-2022,429.45,423.85,425.60,411.80,423.50,423.80,420.47,1245780,5238.14,29150,284402,22.83
2327,ZYDUSWELL,EQ,14-Nov-2022,1616.95,1616.95,1620.85,1580.00,1585.00,1583.95,1592.99,26476,421.76,4235,16898,63.82

In [5]:
df.head()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,1018GS2026,GS,14-Nov-2022,111.50,105.98,105.98,105.98,105.98,105.98,105.98,1,0.00,1,1,100.00
1,20MICRONS,EQ,14-Nov-2022,95.40,95.90,95.90,92.40,93.00,92.70,93.24,166512,155.25,3296,116930,70.22
2,21STCENMGM,EQ,14-Nov-2022,23.20,22.75,23.30,22.75,22.75,22.75,22.88,3820,0.87,60,2443,63.95
3,3IINFOLTD,EQ,14-Nov-2022,43.60,43.60,43.65,42.50,42.85,42.75,42.97,435962,187.35,2764,248576,57.02
4,3MINDIA,EQ,14-Nov-2022,23680.85,23799.00,24648.00,23630.20,24462.20,24483.70,24292.98,7862,1909.91,4095,3130,39.81

In [6]:
df['SYMBOL']

0       1018GS2026
1        20MICRONS
2       21STCENMGM
3        3IINFOLTD
4          3MINDIA
           ...
2323          ZOTA
2324         ZUARI
2325      ZUARIIND
2326     ZYDUSLIFE
2327     ZYDUSWELL
Name: SYMBOL, Length: 2328, dtype: object

In [8]:
df['SYMBOL'].dtype

dtype('O')

In [9]:
print(df['SYMBOL'].dtype)

object

In [11]:
df[' CLOSE_PRICE']

0         105.98
1          92.70
2          22.75
3          42.75
4       24483.70
          ...
2323      265.20
2324      157.05
2325      145.45
2326      423.80
2327     1583.95
Name:  CLOSE_PRICE, Length: 2328, dtype: float64

In [12]:
df[' CLOSE_PRICE'].dtype

dtype('float64')

<h6> Change dtype of Column in panda </h6>

In [13]:
df[' CLOSE_PRICE'].astype('int32')

0         105
1          92
2          22
3          42
4       24483
        ...
2323      265
2324      157
2325      145
2326      423
2327     1583
Name:  CLOSE_PRICE, Length: 2328, dtype: int32

In [14]:
df[' CLOSE_PRICE'].astype('category')

C:\python10\lib\site-packages\IPython\lib\pretty.py:778: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  output = repr(obj)

0         105.98
1          92.70
2          22.75
3          42.75
4       24483.70
          ...
2323      265.20
2324      157.05
2325      145.45
2326      423.80
2327     1583.95
Name:  CLOSE_PRICE, Length: 2328, dtype: category
Categories (2113, float64): [0.35, 0.45, 0.55, 0.70, ..., 24483.70, 38873.90, 46843.95, 86179.85]

In [18]:
df[' SERIES'].astype('category')

0        GS
1        EQ
2        EQ
3        EQ
4        EQ
       ...
2323     EQ
2324     EQ
2325     EQ
2326     EQ
2327     EQ
Name:  SERIES, Length: 2328, dtype: category
Categories (65, object): [' BE', ' BZ', ' E1', ' EQ', ..., ' Z9', ' ZE', ' ZH', ' ZI']