<h1> Pandas Introduction</h1>

<h6>VBA in excel is not easy as python, we can read file like .csv, .json using panda</h6>

<h6> panda bring data to RAM</h6>

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [5]:
df = pd.DataFrame([[5,7,8,6],[2,6,8,3],[2,5,5,5],[8,5,6,2]])
print(df)

   0  1  2  3
0  5  7  8  6
1  2  6  8  3
2  2  5  5  5
3  8  5  6  2

In [7]:
print(df.head(2))

   0  1  2  3
0  5  7  8  6
1  2  6  8  3

In [8]:
print(df.tail(2))

   0  1  2  3
2  2  5  5  5
3  8  5  6  2

<h4> Defining Column</h4>

In [9]:
print(df.tail(2))

   0  1  2  3
2  2  5  5  5
3  8  5  6  2

In [10]:
print(df.shape)

(4, 4)

In [12]:
print(df, columns = ['a','b','c','d'])

TypeError: 'columns' is an invalid keyword argument for print()

In [13]:
df = pd.DataFrame([[5,7,8,6],[2,6,8,3],[2,5,5,5],[8,5,6,2]], columns=['a','b','c','d'] )
print(df)

   a  b  c  d
0  5  7  8  6
1  2  6  8  3
2  2  5  5  5
3  8  5  6  2

<h6> Slicing dataframe using   .iloc  </h6>

In [15]:
print(df.iloc[1,1])

6

In [18]:
 print(df.iloc[0:2,1:3])

   b  c
0  7  8
1  6  8

In [19]:
print(df.iloc[0:1,0:4])

   a  b  c  d
0  5  7  8  6

In [20]:
print(df.iloc[1:3,1:3])

   b  c
1  6  8
2  5  5

<h6> from panda documenttations :- how to droop a column and many more built-in function</h6>

<h6> pandas in 10 mins to pandas in documentation link:- <a ref = "https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html">  CLICK </a></h6>